

<h1 align="center"> Create an Article </h1>

<!-- here is how we call the partials, and since our partial is on the same directory, we dont need to specify the folders. but if it is inside other folder then we need to specify that folder/file -->

<%= render 'form' %>

<!-- Now, let's do the same with edit -->





















