

<!--
    Over here its going to grab article instance variable.
    it's going to show the title, and description, 
-->

<h1>Showing seleted Article</h1>


<p>
    Title: <%= @article.title %>
</p>

<p>
    Description: <%= @article.description %>
</p>




























