<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://kicksmartphilippines.com"> Kicksmart Football</a>
            by <a href="https://kicksmartphilippines.com"> Ann Adaya</a>
        </small>
        
        <nav>
            <ul>
                <li><%= link_to "About", pages_about_path %></li>
            </ul>
        </nav>
        
    </footer>
</div>