




  <!--so now we have a way of displaying message when article gets successfully created.-->
  <!-- We will also create a partial for this flash function -->
    <% flash.each do |name, msg| %>
    
      <ul>
        <li><%= msg %></li>
      </ul>
    
    <% end %>